<%= form_for @trip, :html => { multipart: true } do |f| %>
<div class="control-group">
	<%= f.label :title, :class => 'control-label' %>
	<div class="controls">
		<%= f.text_field :title, :class => 'text_field' %>
	</div>
</div>
<!--  <div class="control-group">
	<%= f.label :tripimages, :class => 'control-label' %>
	<div class="controls">
		<%= file_field_tag "photos[]", type: :file, multiple: true %>
	</div>
</div>
 -->
 <div class="newPaperclipFiles">

	<%= 7.times do |i| %>
	<div class="controls">
		<%= file_field_tag "photos[]", type: :file, multiple: false %>
	</div>
	
	<% end %>


</div> 

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	trips_path, :class => 'btn btn-mini' %>
</div>




<% end %>
