<%= form_for(@trip_image) do |f| %>
  <% if @trip_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip_image.errors.count, "error") %> prohibited this trip_image from being saved:</h2>

      <ul>
      <% @trip_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trip_id %><br>
    <%= f.number_field :trip_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
