<h1>Listing trip_images</h1>

<table>
  <thead>
    <tr>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip_images.each do |trip_image| %>
      <tr>
        <td><%= trip_image.trip_id %></td>
        <td><%= link_to 'Show', trip_image %></td>
        <td><%= link_to 'Edit', edit_trip_image_path(trip_image) %></td>
        <td><%= link_to 'Destroy', trip_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip image', new_trip_image_path %>
